      body {
            margin: 0;
            font-family: "SN Pro", sans-serif;
            
            
        }

        
        .header-image {
            height: 100vh;
            width: 100%;
            object-fit: cover;
            filter:brightness(0.5) ;
            
        }
        .container {
            
            position: absolute;
            right: 32px;
            left: 32px;
            top: 16px;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between ;

        }
        .menu-link {
            color: rgb(225, 209, 209);
            text-decoration: none;
            margin-left: 16px;
        }

        .menu-link:hover {
            text-decoration: underline;
            margin-left: 20px;
            margin-right: 20px;
            
        }
        /*.logo {
            position: absolute;
            left: 32px;
            top: 16px;
        }*/

        .logo:hover {
            width: 30vh;
        }

        .headline {
            position: absolute;
            left: 50px;
            top: 300px;
            color: bisque;
            font-size: 70px;
            width: 700px;
            text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.8);

        }
        .span {
            color:rgb(228, 240, 93) ;
        }

        .description-section {
            height: 500px;
            padding: 30px 100px;
            display: flex;
            gap: 50px; /* um einen Abstand zwichen den text von lorem und Landkart haben */
        }
        .button {
            background-color: rgb(130, 130, 76);
            padding: 8px 30px;
            border-radius: 8px ;
            box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.8) ;
        }

        .button:hover {
            color: black;
            text-decoration: none;
            
        }

        .LoremUndLankart {
            width: 50%;

        }

        h2 {
            text-align: center;
            font-size: 45px;
        }
        

        .youtube {
            width:560px; 
            height: 315px;
        }

        @media (max-width: 800px) {
            .description-section {
                flex-direction: column;
                align-items: center;
                height: unset;
                width: unset;
                display: flex;
                justify-content: center;
            
            }

            .LoremUndLankart {
                width: unset;
            }
            .navigation {
                display: flex;
                flex-direction: column;
            }
        }